.*.swo
*.cpt.py
*.egg-info
*.html.py
*.log
*.log.*.gz
*.pid
*.pt.py
*.pyc
*.pyo
*.sqlite3
*.swp
*.tmproj
*.zpt.py
.DS_Store
.Python
.installed.cfg
.loadpath
.mr.developer.cfg
.project 
.svn
activate.sh
tmp
tmp2
env
htmlcov
report.xml
*..data*
*..index*
.coverage
d9t
data
_smoketest
backy.cfg
backy-*.cfg
backy.pex
build
tmp2
tags
.cache
backy.cfg.file
backy.cfg.s3
backy.cfg.master
.pybuild
debian/backy2.postinst.debhelper
debian/backy2.prerm.debhelper
debian/backy2.substvars
debian/backy2/
debian/files
debian/debhelper-build-stamp
dist
.github-access-token
debian/.debhelper
