.*.swo
*.cpt.py
*.egg-info
*.html.py
*.log
*.log.*.gz
*.pid
*.pt.py
*.pyc
*.pyo
*.sqlite3
*.swp
*.tmproj
*.zpt.py
.DS_Store
.Python
.installed.cfg
.loadpath
.mr.developer.cfg
.project 
.svn
activate.sh
tmp
tmp2
env
htmlcov
report.xml
*..data*
*..index*
.coverage
d9t
data
_smoketest
backy.cfg
backy-*.cfg
backy.pex
build
tmp2
tags
.cache
backy.cfg.enterprise
backy.cfg.master
