.*.swo
*.cpt.py
*.egg-info
*.html.py
*.log
*.log.*.gz
*.pid
*.pt.py
*.pyc
*.pyo
*.sqlite3
*.swp
*.tmproj
*.zpt.py
.DS_Store
.Python
.installed.cfg
.loadpath
.mr.developer.cfg
.project 
.svn
htmlcov
report.xml
*..data*
*..index*
.coverage
data
benji.yaml
benji.pex
build
tags
.cache
.pybuild
debian/benji.postinst.debhelper
debian/benji.prerm.debhelper
debian/benji.substvars
debian/benji/
debian/files
debian/debhelper-build-stamp
dist
.github-access-token
debian/.debhelper
*~
