[DEFAULTS]
logfile: /home/dk/develop/backy2/tmp/backy.log

[MetaBackend]
type: sql
engine: sqlite:////home/dk/develop/backy2/tmp/backy.sqlite
#engine: postgresql:///dk

[DataBackend]
type: files
path: /home/dk/develop/backy2/tmp
