Source: backy2
Maintainer: Daniel Kraft <daniel.kraft@d9t.de>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, python3-setproctitle, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://d9t.de/
XS-Python-Version: >= 3.4

Package: backy2
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-prettytable, python3-sqlalchemy, python3-psutil, python3-shortuuid, python3-setproctitle, python3-dateutil, python3-alembic
Recommends: python3-psycopg2, python3-boto3, python3-rbd, python3-rados
Description: A block / disk based backup and restore solution
 .

